/*--------------------------------------------------------------
                    NewsLetter Popup Module
--------------------------------------------------------------*/
#tm-newsletter-popup-form:before, #tm-newsletter-popup-form:after {
  display: table;
  content: "";
  line-height: 0;
}
#tm-newsletter-popup-form:after {
  clear: both;
}

.newsletter-popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 0px;
}

.newsletter-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 721px;
  height: 592px;
  margin-left: -360.5px;
  margin-top: -296px;
  background-color: #000;
  background-repeat: no-repeat;
  letter-spacing: 0.75px;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  padding: 94px 50px;
  text-align: center;
}
.newsletter-popup:before, .newsletter-popup:after {
  display: table;
  content: "";
  line-height: 0;
}
.newsletter-popup:after {
  clear: both;
}
.newsletter-popup, .newsletter-popup h2 {
  color: #fff;
}
.newsletter-popup .box-content {
  text-align: left;
}
.newsletter-popup h2, .newsletter-popup p {
  max-width: 485px;
}
.newsletter-popup h2 {
  font: 500 25px/27px "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0;
}
.newsletter-popup h2 + p {
  margin: 24px 0 0;
  color: #fff;
  font-weight: 400;
}
.newsletter-popup .tm-login-form {
  position: relative;
  margin-top: 25px;
}
.newsletter-popup .tm-login-form:before, .newsletter-popup .tm-login-form:after {
  display: table;
  content: "";
  line-height: 0;
}
.newsletter-popup .tm-login-form:after {
  clear: both;
}
.newsletter-popup .tm-login-form input {
  width: 301px;
  float: left;
  height: 48px;
  font-family: "PT Serif", sans-serif;
  color: #c9c7c3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.newsletter-popup .tm-login-form input::-webkit-input-placeholder {
  color: #c9c7c3;
  font-size: 16px;
}
.newsletter-popup .tm-login-form input::-moz-placeholder {
  color: #c9c7c3;
  font-size: 16px;
}
.newsletter-popup .tm-login-form input:-moz-placeholder {
  color: #c9c7c3;
  font-size: 16px;
}
.newsletter-popup .tm-login-form input:-ms-input-placeholder {
  color: #c9c7c3;
  font-size: 16px;
}
.newsletter-popup .tm-login-form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.newsletter-popup .tm-login-form input:focus::-moz-placeholder {
  color: transparent;
}
.newsletter-popup .tm-login-form input:focus:-moz-placeholder {
  color: transparent;
}
.newsletter-popup .tm-login-form input:focus:-ms-input-placeholder {
  color: transparent;
}
.newsletter-popup .tm-login-form .newsletter-popup-btn {
  margin-left: 10px;
}
.newsletter-popup .logo {
  padding: 0;
  text-align: left;
}
.newsletter-popup .logo + .box-content {
  margin-top: 52px;
}
.newsletter-popup .logo img {
  display: inline-block;
}
.newsletter-popup-close-btn {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  right: 25px;
  top: 25px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
.newsletter-popup-close-btn:hover {
  color: #2388d9;
}
.newsletter-popup-dont-show {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2388d9;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0;
  padding: 19px 0;
}
.newsletter-popup-dont-show:hover {
  background: #ff6949;
  color: #fff;
}
.newsletter-popup-btn {
  margin-top: 0;
  border: none;
  outline: none;
  display: inline-block;
  color: #fff;
  background: #2388d9;
  padding: 14px 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.newsletter-popup-btn:hover {
  background: #ff6949;
}

.newsletter-popup .newsletter-error,
.newsletter-popup .newsletter-success {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 100%;
  left: 20px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  letter-spacing: 0;
}

.newsletter-error {
  color: #D4323D;
}

.newsletter-success {
  color: #55C65E;
}

/*--------------------------------------------------------------
         NewsLetter Popup Module Responsive Layout
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .newsletter-popup-wrap {
    display: none !important;
  }
}
