input[type="radio"] + label {
  padding-left: 20px;
  padding-right: 30px; }
  input[type="radio"] + label:before {
    right: 0;
    left: auto; }
  input[type="radio"] + label:after {
    right: 2px;
    left: auto; }

.product-options .checkbox label {
  text-align: right;
  padding: 5px 45px 5px 5px; }
  .product-options .checkbox label:before, .product-options .checkbox label:after {
    right: 13px;
    left: auto; }

div.required .control-label:after {
  margin-left: 0;
  margin-right: 5px; }

.breadcrumb > li + li {
  padding-right: 20px; }
  .breadcrumb > li + li:before {
    content: '\e0c3';
    position: absolute;
    top: 50%;
    right: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

[data-clear] + .product-layout {
  clear: right; }

.text-left {
  text-align: right; }

.text-right {
  text-align: left; }

.pull-right {
  float: left !important; }

.pull-left {
  float: right !important; }

.discount {
  direction: ltr; }

.product_model.model > p {
  display: inline-block; }

.alert {
  padding: 18px 75px 18px 40px; }
  .alert i {
    right: 0;
    left: auto; }
  .alert button.close {
    left: 15px;
    right: auto; }

.sbHolder {
  text-align: right; }

.sbToggle {
  left: 0;
  right: auto; }

.sbSelector {
  right: 0;
  left: 30px; }

.button-view button + button {
  border-right: 1px solid #e9f1f4;
  border-left: none; }

.product-filter_elem.show .sbHolder {
  border-right: 1px solid #e9f1f4; }

.product-filter label {
  margin: 0 10px 0 5px; }

.article-sub-title {
  display: block; }
  .article-sub-title:before, .article-sub-title:after {
    display: table;
    content: "";
    line-height: 0; }
  .article-sub-title:after {
    clear: both; }
  .article-sub-title > span {
    position: relative;
    padding-right: 25px;
    display: inline-block; }
    .article-sub-title > span:before {
      position: absolute;
      right: 0;
      top: 50%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0; }
    .article-sub-title > span + span {
      margin-left: 0;
      margin-right: 20px; }

.article-description ul li, .article-description ol li {
  padding-left: 0;
  padding-right: 50px; }
  .article-description ul li:before, .article-description ol li:before {
    right: 0;
    left: auto; }

.article-comment .author {
  float: right; }

.article-comment .reply-message {
  float: left; }

.reply-cancel {
  text-align: left; }

.product-gallery {
  direction: ltr; }

.pagination > li {
  float: right; }
  .pagination > li + li > a, .pagination > li + li > span {
    border-right: none;
    border-left: 1px solid #e9f1f4; }
  .pagination > li + li:nth-child(5n+6) {
    clear: right; }
    .pagination > li + li:nth-child(5n+6) > a, .pagination > li + li:nth-child(5n+6) > span {
      border-right: 1px solid #e9f1f4; }

.contact_page .icon {
  padding-left: 0;
  padding-right: 70px; }
  .contact_page .icon:before {
    right: 0;
    left: auto; }

.toggle_cont > li > a, .toggle_cont > li > button {
  text-align: right;
  padding: 5px 10px 5px 5px; }

.toggle_cont__right {
  right: 0;
  left: auto; }

.testimonials .owl-nav {
  direction: ltr; }

.human_info .thumbnail {
  float: right;
  margin-left: 20px;
  margin-right: 0; }

.human_info p {
  text-indent: 0;
  direction: rlt; }

header .box-cart {
  float: right;
  margin: 0 45px 0 15px; }

header .cart > button i {
  float: right;
  margin: 0 0 0 15px; }

header .cart > button .cart-total2,
header .cart > button strong {
  float: right; }

header .nav {
  float: right; }
  header .nav a {
    left: 0; }

header .nav > .toggle_cont .btn-group .dropdown-menu {
  left: auto;
  right: -100%; }

.sf-menu > li {
  float: right;
  text-align: right; }
  .sf-menu > li ul li {
    padding: 0 30px 0 0;
    text-align: right; }
    .sf-menu > li ul li:before {
      left: 100%; }

.box-language .dropdown-toggle:after,
.box-currency .dropdown-toggle:after {
  right: 7px;
  left: auto;
  content: "\f105"; }

.banners {
  float: right;
  text-align: right; }
  .banners .s-desc {
    padding: 15px 12% 15px 28%; }

.newsletter .box-content .newsletter-description i {
  margin: 0 0 0 11px; }

.newsletter-error,
.newsletter-success {
  left: auto;
  right: 40px; }

.parallax-1 {
  left: 0 !important; }

@media (min-width: 992px) and (max-width: 1199px) {
  .banners .s-desc {
    padding: 10px 15px; } }

@media (max-width: 991px) {
  .newsletter .box-content .newsletter-description {
    text-align: right; } }

@media (max-width: 767px) {
  header .cart > button i {
    float: none; }
  header .logo {
    text-align: right; } }

@media (max-width: 480px) {
  .newsletter .box-content .newsletter-description {
    padding: 0 40px 0 0; }
    .newsletter .box-content .newsletter-description i {
      left: auto;
      right: 15px; }
  footer > .container {
    text-align: center; }
  .owl-carousel.owl-rtl {
    text-align: center; } }

.site-map-page #content ul.category-list:before {
  right: -40px; }

.site-map-page #content ul.category-list li:before {
  right: -80px; }

.site-map-page #content ul.category-list > li:after {
  right: -47px; }

.site-map-page #content ul.category-list ul:before {
  right: -40px; }
