/*========================================================
                      Parallax
=========================================================*/
.parallax h2 + p {
  margin-top: 32px; }

.parallax * + .inner-module {
  margin-top: 72px; }

@media (max-width: 767px) {
  .parallax h2 + p {
    margin-top: 10px; }
  .parallax * + .inner-module {
    margin-top: 15px; } }

.parallax {
  line-height: 27px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #000; }
  .parallax > div {
    background-size: cover;
    position: relative;
    z-index: 0;
    position: relative;
    padding: 0;
    height: 718px;
    background-position: top;
    background-repeat: no-repeat; }
    .parallax > div .caption {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding-top: 50%;
      -moz-transform: translateY(-66%);
      -ms-transform: translateY(-66%);
      -o-transform: translateY(-66%);
      -webkit-transform: translateY(-66%);
      transform: translateY(-66%); }
    .parallax > div .container {
      position: relative;
      z-index: 1; }
  .parallax h2, .parallax p, .parallax .countdown {
    margin: 0; }
  .parallax, .parallax h2 {
    color: #fff; }
  .parallax h2 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .parallax p {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 20px;
    max-width: 790px;
    margin-left: auto;
    margin-right: auto; }
  .parallax .link {
    margin-top: 46px; }

/*========================================================
                Parallax Responsive
=========================================================*/
@media (max-width: 767px) {
  .parallax h2 {
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 4.2px; } }

@media (max-width: 479px) {
  .parallax {
    text-shadow: 1px 1px 0 #000; }
    .parallax > div .caption {
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .parallax h2 {
      font-size: 33px;
      line-height: 45px;
      letter-spacing: 3.36px; } }
